<main>
    <nav class="navbar navbar-expand-lg navbar2">
        <div class="container">
            <a class="navbar-brand click-scroll" href="/">
                <i class="bi-soundwave"></i>
                <span>Soundscape Stories</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link inactive" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll active" href="articles">Articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="community">Community</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="faq">Mood Tunes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="diary">Dear Diary</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="goals">Goals</a>
                    </li>

                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                            <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                        </ul>
                    </li> --}}
                </ul>

                {{!-- <div class="d-none d-lg-block">
                    <a href="/logout" class="navbar-icon bi-person smoothscroll"></a>
                </div> --}}
                <div class="d-none d-lg-block">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section class="explore-section section-padding section-padding2" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="mb-4">Browse Articles</h1>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Soundscapes</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Emotional Reflections</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">The Art of Sound</button>
                    </li>

                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://folklife.si.edu/talkstory/the-sound-of-life-what-is-a-soundscape" target="_blank">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">What Do We Mean by “Soundscape”?</h5>

                                                    <p class="mb-0">Soundscapes are unique sonic environments that define spaces, blending natural and human-made sounds. They shape cultural identity, evoke memories, and reveal insights about ecological and community health.</p>
                                                </div>

                                                {{!-- <span class="badge bg-design rounded-pill ms-auto">14</span> --}}
                                            </div>

                                            <img src="images/soundscape1.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://besjournals.onlinelibrary.wiley.com/doi/full/10.1002/pan3.10454" target="_blank">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Urban Soundscapes in Informal Settlements</h5>

                                                        <p class="mb-0">This study classifies sounds in informal settlements in Fiji and Indonesia, identifying seven categories dominated by natural or human-made noises. The framework links soundscapes to health and well-being, aiming to guide sustainable urban design for better living conditions. </p>
                                                </div>

                                                {{!-- <span class="badge bg-design rounded-pill ms-auto">75</span> --}}
                                            </div>

                                            <img src="images/soundscape2.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-lg-42 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC5437754/" target="_blank">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Effects of Soundscape on Environmental Restoration</h5>

                                                        <p class="mb-0">Natural sounds boost mental restoration in urban environments, while traffic and machine sounds hinder it. Integrating natural soundscapes into cities can enhance well-being and reduce fatigue.</p>
                                                </div>

                                                {{!-- <span class="badge bg-design rounded-pill ms-auto">100</span> --}}
                                            </div>

                                            <img src="images/soundscape3.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC7219267/" target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Arousing Sound Design</h5>

                                                        <p class="mb-0">Discover how 3D audio and arousing sound design captivate children aged 9–13, creating deeper emotional connections, vivid mental imagery, and unparalleled immersion in audio storytelling.</p>
                                                    </div>

                                                    {{!-- <span class="badge bg-advertising rounded-pill ms-auto">30</span> --}}
                                                </div>

                                                <img src="images/reflections.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="https://www.snexplores.org/article/music-sharing-brain-health-emotions" target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Music Moves Us</h5>

                                                        <p class="mb-0">Music connects us emotionally and spreads like a virus, with popular songs “infecting” listeners in patterns similar to disease outbreaks. Studies show music’s power to evoke emotions, inspire movement, and bring people together across cultures. It’s a universal force that resonates deeply in our lives.</p>
                                                    </div>

                                                    {{!-- <span class="badge bg-advertising rounded-pill ms-auto">65</span> --}}
                                                </div>

                                                <img src="images/reflections2.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-lg-42 col-md-6 col-12 mb-4 mb-lg-3">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="https://www.sciencedirect.com/science/article/pii/S0149763416300082" target="_blank">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">The Sound of Emotions</h5>

                                                        <p class="mb-0">This study explores how emotions are processed from various sounds, such as music, speech, and environmental noises, through a shared neural network. It highlights how sound features, context, and listener responses shape emotional reactions. The findings bridge gaps in understanding auditory emotional processing across sound types.</p>
                                                    </div>

                                                    {{!-- <span class="badge bg-advertising rounded-pill ms-auto">65</span> --}}
                                                </div>

                                                <img src="images/reflections3.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    {{!-- <div class="col-lg-4 col-lg-42 col-md-6 col-12">
                                        <div class="custom-block bg-white shadow-lg">
                                            <a href="topics-detail.html">
                                                <div class="d-flex">
                                                    <div>
                                                        <h5 class="mb-2">Viral Tweet</h5>

                                                        <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                                    </div>

                                                    <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                                                </div>

                                                <img src="images/topics/undraw_viral_tweet_gndb.png" class="custom-block-image img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>

                        <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.soundoflife.com/blogs/experiences/a-comprehensive-overview-of-sound-art" target="_blank">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Overview of Sound Art</h5>

                                                    <p class="mb-0">Sound art blends music and visual art, using sound to challenge perceptions. From Luigi Russolo’s noise experiments to John Cage’s silence, and Max Neuhaus’ site-specific works, it has evolved into a versatile form that transforms spaces and redefines auditory experiences.</p>
                                                </div>

                                                {{!-- <span class="badge bg-finance rounded-pill ms-auto">30</span> --}}
                                            </div>

                                            <img src="images/art1.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="https://www.sciencedirect.com/science/article/pii/S0169204624001725" target="_blank">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">Shaping city sounds</h5>

                                                    <p class="mb-0">This study assessed the impact of four sound installations in Montreal's Fleurs-de-Macadam square over two summers using 825 questionnaires. All installations improved the soundscape, enhancing calmness, pleasantness, and reducing perceived loudness, while offering unique benefits such as distraction from construction noise or increased coherence. </p>
                                                </div>

                                                {{!-- <span class="badge bg-finance rounded-pill ms-auto">30</span> --}}
                                            </div>

                                            <img src="images/art2.png" class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </section>
    <footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer>
</main>