<nav class="navbar navbar-expand-lg navbar2">
    <div class="container">
        <a class="navbar-brand click-scroll" href="/">
            <i class="bi-soundwave"></i>
            <span>Soundscape Stories</span>
        </a>

        <div class="d-lg-none ms-auto me-4">
            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link inactive" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="articles">Articles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="community">Community</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="faq">Mood Tunes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="diary">Dear Diary</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="goals">Goals</a>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                        <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                    </ul>
                </li> --}}
            </ul>

            {{!-- <div class="d-none d-lg-block">
                <a href="/logout" class="navbar-icon bi-person smoothscroll"></a>
            </div> --}}
            <div class="d-none d-lg-block">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="faq-section section-padding section-padding2" id="section_4">
    <div class="container">
        <div class="row">

            {{!-- <div class="col-lg-6 col-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>
            </div> --}}
            <div class="col-12 text-center">
                <h2 class="mb-4">Tunes to Match Your Every Feeling</h1>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                <img src="images/moodtune.png" class="img-fluid" alt="FAQs">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                What’s a good tune to feel relaxed?
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                "Weightless" by Marconi Union - A soundscape-inspired piece, often likened to the calming rhythm of a quiet urban park. Its ambient tones echo the tranquility we seek in bustling cities.
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/qYnA9wWFHLI?si=F756_83FAueNva2b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                    <hr>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What’s the perfect track for boosting energy?
                            </button>
                        </h2>

                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                "Don’t Stop Me Now" by Queen - A dynamic anthem that channels the vibrancy of a city in motion, mirroring the energy of public art festivals and street performances.                           
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/HgzGwKwLmgM?si=CScGrStVFx5IgXJj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                    <hr>

                    {{!-- <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What prenatal vitamins are important?
                        </button>
                        </h2>

                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Key prenatal vitamins include folic acid, iron, calcium, and vitamin D. It is best to discuss this with your healthcare provider.
                            </div>
                        </div>
                    </div>

                    <hr> --}}

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What’s an ideal song for feeling happy?
                            </button>
                        </h2>

                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                "Happy" by Pharrell Williams - A joyful track that captures the communal spirit of urban art installations, celebrating the shared happiness in public spaces.                           
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZbZSe6N_BXs?si=Y8gB7vnwIG9WcISt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                    <hr>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                What’s the best track to focus while working?
                            </button>
                        </h2>

                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                "Clair de Lune" by Debussy - This classical piece evokes the serene beauty of moonlit cityscapes, offering a peaceful backdrop for creative focus.                           
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/WNcsUNKlAKw?si=3QgNWvB3RBgiuMUn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                    <hr>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What’s a heartfelt song for when you’re feeling down?                       
                            </button>
                        </h2>

                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                "Someone Like You" by Adele - A soulful melody that mirrors the introspection often found in urban storytelling and the layers of history in city life.                           
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/hLQl3WQQoQ0?si=7lJXqP8xp3ZFlrhN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>

                    <hr>
                </div>
            </div>

        </div>
    </div>
</section>

<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer>